.mainLogo {
    width: 450px;
}

.textWrapper {
    padding: 5px 20px;
    border-radius: 12px;
    background: #fff;
}

.overlay {
    background: rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.link {
    &:link, &:visited {
        cursor: pointer;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: var(--inverted-primary-color);
        background: var(--inverted-bg-color);
        font: var(--font-m);
        transition: 200ms;
        text-decoration: none;
        outline: none;
    }
}
