.ResultsPage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper {
	background: white;
	border-radius: 12px;
	padding: 20px;
}

.title {
	color: var(--blue-700) !important;
}

.link {
	&:link, &:visited {
		cursor: pointer;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: var(--inverted-primary-color);
		background: var(--inverted-bg-color);
		font: var(--font-m);
		transition: 200ms;
		text-decoration: none;
		outline: none;
	}
}
